

.landing h3 {
  font-size: 1em;
}

.landing-page section {
  min-height: 200px; 
  padding: 6% 0;
  background-color: #fff;
}


li {
  list-style: none;
}

/* === HERO SECTION === */

.landing-page header {
  padding: 12% 8%;
}

.hero-section h1 {
  font-size: 1.7em;
}

.hero-section {
  background-color: #fbfbfb; 
}

.hero-section h3 {
  margin-bottom: 1.1em;;
}

.hero-section p {
  margin-bottom: 2em
}


.hero-button {
  box-sizing: border-box;
  margin-bottom: 2px;
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  background-color: #5c6ac4;
  color: #fff;
  cursor: pointer;
  font-size: 1.em;
  font-weight: 600;
  text-transform: uppercase;
  /* box-shadow: 0 10px 20px 0 rgba(0,0,0,.25); */
  transition: box-shadow .25s linear;
}

.hero-button:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}

@media only screen and (min-width: 960px){
  
}

/* === DETAILS SECTION === */

.details-section p,
.features-section p,
li {
  color: #637381;
  line-height: 25px;
}

.register-input {
  padding: 0px;
  position: relative;
  width: 100%;
  border: 1px solid #5c6ac4;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(33, 43, 54);
  cursor: inherit;
  font-size: inherit;
  line-height: inherit;
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  box-sizing: border-box;
}

.detail {
  margin: 0 auto;
  width: 60%;
}

.icon-container{
  margin: 2rem auto;
  width: 40%;
}

.features-section {
  margin: 0 2rem;
}

.features-section li {
  text-align: left;
  list-style-type: circle;
}

.features-section p {
  font-size: 1.5em;
}

@media only screen and (min-width: 960px){
  .icon-container,
  .detail {
    width: 40%;
  }

  .features-section {
    width: 40%;
    margin: 0 auto;
  }

  .features-section ul {
    padding-left: 5rem;
  }

}