.sign-in-header {
  margin: 4rem auto 0;
  width: 40%;
}

.sign-in-form-container {
  position: relative;
  padding: 3rem 0;
  width: 60%;
  margin: 2em auto;
}

.sign-in-button  {
  box-sizing: border-box;
  margin-bottom: 2px;
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  background-color: #5c6ac4;
  color: #fff;
  cursor: pointer;
  font-size: 1.em;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color .25s linear;
  width: 100%;
  /* margin: 5% 0.5%; */
}

.sign-in-button:hover {
  background-color: #5260b1;
}

.sign-in-register-button,
.demo-account-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  background: transparent;
  color: #5c6ac4;
  box-shadow: none;
  padding: 8px 16px;
  width: 100%;
  transition: background-color .25s linear;
}

.sign-in-register-button:hover:enabled,
.demo-account-button:hover:enabled {
  background-color: #dfe4e8
}

.sign-in-form-error {
  color: #D40300;
  position: absolute;
  top: 0.5em;
  left: 1em;
}

.demo-account {
  width: 100%;
}

.demo-account-button:focus {
  outline: 0;
}

.demo-credentials span {
  display: block;
}

.demo-credentials {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.demo-email-title,
.demo-password-title {
  width: 40%;
  margin-right: 10%;
  text-align: right;
}

.demo-email, 
.demo-password {
  width: 40%;
  margin-left: 10%;
  text-align: left;
}

@media only screen and (min-width: 960px){
  .sign-in-form-container {
    width: 40%;
  }

  .sign-in-form-error {
    left: 6em;
  }
}