nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  text-align: left;
}

nav,
footer {
  display: flex;
  padding: 2% 1%; 
  font-weight: 700;
  color: #fff;
  background-color: #1D2323;
}

