  .nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);;
}

.nav-fixed,
footer {
  display: flex;
  justify-content: space-between;
  padding: 3% 4%; 
  font-weight: 700;
  color: #333;
  /* background-color: #1D2323; */
}

.nav-scroll {
  position: relative;
  z-index: 60;
  display: flex;
  justify-content: space-between;
  padding: 3% 4%; 
  font-weight: 700;
  color: #333;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
}

@media only screen and (min-width: 960px){

  .nav-fixed,
  .nav-scroll {
    padding: 2% 3%;
  }

  .nav-fixed {
    justify-content: space-between;
  }
}


