.sidebar-links {
  text-align: center;
  font-size: 14px;
  background-color: #ffffff;
  padding-top: 4rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 51;
  width: 50%;
  height: 100%;
  transition: 300ms ease all;
  box-shadow: 0px 10px 10px rgb(206, 206, 206);
}

.sidebar-left {
  left: -51%;
}

.sidebar-links ul {
  margin: 0;
  padding: 0;
}

.sidebar-links ul::after {
  content: ' ';
  display: block;
  margin: 3rem auto;
  background-color: grey;
  border-bottom: 1px solid gray;
  width: 80%;
  height: 10%;

}

.sidebar-links li {
  margin: 1rem;
}
.user-image {
  position: relative;
  border: 1px solid #aaa;
  width: 8rem;
  text-align: center;
  margin: 0.5rem;
  background-color: rgb(211, 211, 211)
}

.user-image {
  margin: 3rem auto;
}

.sidebar-links ul {
  list-style: none;
}

.toggle-menu-button {
  z-index: 50;
  border-radius: 4px;
  background-color: rgb(118, 160, 202);
  padding: 5% 0;
  cursor: pointer; 
  position: absolute;
  right: -66px;
  bottom: -50px;
  width: 30%;
}

.sidebar-links li {
  text-align: left;
  padding-left: 1rem;
}

@media only screen and (min-width: 750px){
  .sidebar-links {
    position: absolute;
    left: 0;
    height: 150%;
    width: 30%;
    font-size: 14px;
  }

  .sidebar-links li {
    padding-left: 3rem
  }

  .sidebar-left {
    float: left;
  }

  .toggle-menu-button {
    display: none;
  }
}