* { box-sizing:border-box; }

body{ margin:0}

.clear {
  clear: both;
}

ul {
  position: relative;
}

.set {
  position: relative;
  width: 100%;
  clear: both;
}

.piano-key { 
  margin:0; 
  padding:0; 
  list-style:none; 
  position:relative; 
  float:left; 
}

.set .note-name {
  width: 18%;
}

.set .white {
	height:10em; width: 14%; max-width: 15%; z-index:1;
	border-left:1px solid #bbb;
	border-bottom:1px solid #bbb;
	border-radius:0 0 5px 5px;
	box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0,0,0,0.2);
	background: linear-gradient(to top, #eee 0%,#fff 100%);
}

ul .white:active {
	border-top:1px solid #777;
	border-left:1px solid #999;
	border-bottom:1px solid #999;
	box-shadow:2px 0 3px rgba(0,0,0,0.1) inset, -5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
	background: linear-gradient(to top, #fff 0%,#e9e9e9 100%);
}

.black {
	height:5em; width:9%; max-width: 11.8%; margin:0 0 0 -1em; z-index:2;
	border:1px solid #000;
	border-radius:0 0 3px 3px;
	box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
	background:linear-gradient(45deg, #222 0%,#555 100%);
}

.black:active {
	box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -2px 2px 3px rgba(0,0,0,0.6) inset, 0 1px 2px rgba(0,0,0,0.5);
	background:linear-gradient(to left, #444 0%,#222 100%);
} 

.C, .D, .E, .G, .A, .B { margin:0 0 0 -1em;  }

.set ul li:first-child { 
  border-radius:5px 0 5px 5px; 
  margin-left: -1.5rem;
}
.set ul li:last-child { border-radius:0 5px 5px 5px; }



/* === OVERLAY === */

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(221, 221, 221, 0.11), rgba(206, 205, 205, 0.082));
  width: 100%;
  height: 40%;
  position: absolute;
  z-index: 10;
}

@media only screen and (min-width: 960px) {
  ul .note-name {
    width: 18%;
  }

  .set ul .white {
    height: 10em;
    width: 16.4%;
    max-width: 17%;
  }

  .set .black {
    height: 5em;
    max-width: 7%;
    min-width: 5%;
  }
}