.test-page {
  margin-top: 10rem;
}

.test-container {
  position: relative;
  border: 1px solid grey;
  max-width: 40%;
  height: 100%;
  margin: 0 auto 4rem;
  background-color: white;
}

.test-question {
  margin: 2rem auto
}

.test-question img {
  display: block;
  margin: 0 auto;
  width: 5rem;
  height: 5rem;
}

.test-timer {
  position: absolute;
  left: 0;
  top: -4rem;
}

.test-question-number {
  position: absolute;
  right: 0;
  top: -4rem;
}

.answers-container {
  margin-bottom: 2rem;
}

.answers-container button {
  width: 50%;
  padding: 0.5rem 0;
  margin: 0.5rem 0
}

.test-button {
  position: relative;
  right: 0;
  bottom: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}