body {
 font-family: 'Muli', sans-serif;
}

.test-page h3 { 
  font-size: 2em;
}

p{
  margin-top: 0;
}

.test-page {
  margin: 0 0 1rem;
}

.test-page main {
  margin-top: 2rem;
}

.test-container {
  position: relative;
  max-width: 400px;
  height: 80%;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
}

.test-question img {
  display: block;
  margin: 0 auto;
  width: 15rem;
  height: 15rem;
}


/* === STATUS MESSAGE === */

.hidden {
  opacity: 0
}

.status-bar {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: 0 auto;
  height: 5em;
}

.test-status-message {
  width: 60%;
}

.correct-message {
  margin-top: 1rem;
  color: #8c8b8b;
}

.test-correct-note {
  color: #000;
  font-size: 2em;
  display: block;
}

.correct {
  font-size: 1.5em;
  color: green;
}

.incorrect {
  font-size: 1.5em;
  color: red;
}



.answers-container {
  margin-bottom: 2rem;
}

.test-button {
  position: absolute;
  background-color: rgba(221, 221, 221, 0.11);
  border: none;
  border-radius: 50%;
  width: 50px;
  padding: 2%;
  top: 35%;
  right: 10%;
  transition: right .3s ease;
}

.test-button:hover {
  right: 9%;
}

.see-results {
  background-color: #4ebd4e;
  border-radius: 4px;
  color: #fff;
}

/* .white-keys {
  background-color: rgb(235, 235, 235);
  background-color:  hsl(0, 0%, 98%);
} */

/* @media only screen and (min-width: 480px) and (max-width: 960px){

} */

@media only screen and (min-width: 960px){

  .status-bar {
    max-width: 50%;
  }
  
  .test-status-message {
    width: 60%;
  }

}