body {
 font-family: 'Muli', sans-serif;
}

.test-page h3 { 
  font-size: 2em;
}

p{
  margin-top: 0;
}

.test-page {
  margin: 0 0 1rem;
}

.test-container {
  position: relative;
  max-width: 400px;
  height: 80%;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
}

.test-question img {
  display: block;
  margin: 0 auto;
  width: 15rem;
  height: 15rem;
}


/* === STATUS MESSAGE === */

.hidden {
  opacity: 0
}

.status-bar {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: 0 auto;
  height: 5em;
}

.test-timer {
  /* position: absolute;
  left: 0;
  top: -3rem; */
}

.test-question-number {
  /* position: absolute;
  right: 0;
  top: -4rem; */
}

.test-status-message {
  width: 58%;
}

.test-correct-note {
  font-size: 2em;
  display: block;
}



.answers-container {
  margin-bottom: 2rem;
}

.answers-container button {
  width: 14.28%;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  height: 5rem;
}

.test-button {
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

.white-keys {
  background-color: rgb(235, 235, 235);
  background-color:  hsl(0, 0%, 98%);
}

/* @media only screen and (min-width: 480px) and (max-width: 960px){

} */

@media only screen and (min-width: 960px){

  .status-bar {
    max-width: 50%;
  }
  
  .test-status-message {
    width: 35%;
  }

}